@inject IJSRuntime JsRuntime

@if (!string.IsNullOrWhiteSpace(Url))
{
    <div class="aspect-video w-full">
        <Video 
            Source="@(Url)" 
            AutoPlay="true"
            Controls="true"
            ControlsList="new []{ VideoControlsType.Play, VideoControlsType.Progress, VideoControlsType.Captions, VideoControlsType.Fullscreen, VideoControlsType.Mute, VideoControlsType.Volume, VideoControlsType.CurrentTime }"
            DisableContextMenu="true"
            SeekTime="10"
            StreamingLibrary="StreamingLibrary.Dash"
            
            ></Video>
    </div>
}


@code {
    [Parameter]
    public string? Url { get; set; }
    
    public void Dispose()
    {
        Url = string.Empty;
    }
}