/* /Components/ContentItem.razor.rz.scp.css */
.content-cards-container[b-lblmlpcrp8] {
    display: flex;
    scroll-snap-type: x mandatory;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1.25rem;
}

.w-\[150px\][b-lblmlpcrp8] {
    width: 150px;
}

.flex-none[b-lblmlpcrp8] {
    flex: none;
}

.snap-center[b-lblmlpcrp8] {
    scroll-snap-align: center;
}

.snap-always[b-lblmlpcrp8] {
    scroll-snap-stop: always;
}

.rounded[b-lblmlpcrp8] {
    border-radius: 0.25rem;
}

.p-5[b-lblmlpcrp8] {
    padding: 1.25rem;
}

.px-5[b-lblmlpcrp8] {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

/* Hide scrollbar for Chrome, Safari, & Opera*/

.no-scrollbar[b-lblmlpcrp8]::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */

.no-scrollbar[b-lblmlpcrp8] {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
/* /Features/Catalogs/Components/Discover.razor.rz.scp.css */
.cards[b-o5e5b1c1l2] {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards-item[b-o5e5b1c1l2] {
    display: flex;
    margin: 0px 10px 0px 10px;
    flex-direction: column;
    width: 150px;
    align-items: center;
    flex-wrap: wrap;
}
