.content-cards-container {
    display: flex;
    scroll-snap-type: x mandatory;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1.25rem;
}

.w-\[150px\] {
    width: 150px;
}

.flex-none {
    flex: none;
}

.snap-center {
    scroll-snap-align: center;
}

.snap-always {
    scroll-snap-stop: always;
}

.rounded {
    border-radius: 0.25rem;
}

.p-5 {
    padding: 1.25rem;
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

/* Hide scrollbar for Chrome, Safari, & Opera*/

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}