@inject IJSRuntime JsRuntime

<div class="player-container" id="player" tabindex="1" style="height: 100%">
    <video id="video-content" class="video-js vjs-default-skin vjs-big-play-centered w-full h-full" controls autoplay preload="auto" style="width: 100%; height: 100%;"
           data-setup='{
            "autoplay": true
            }'>
        <source src="@Url" type="video/webm" />
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank">
                supports HTML5 video
            </a>
        </p>
    </video>
</div>

@code {
    [Parameter]
    public string? Url { get; set; }

    protected override void OnParametersSet()
    {
        if (!string.IsNullOrWhiteSpace(Url))
        {
            JsRuntime.InvokeVoidAsync("window.initVideo", Url);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!string.IsNullOrWhiteSpace(Url))
        {
            await JsRuntime.InvokeVoidAsync("window.initVideo", Url);
            await JsRuntime.InvokeVoidAsync("window.focus", "player");
        }
    }
}