<div style="padding: 10px 10px 10px 10px;">
    <div style="display: flex; flex-direction: row; justify-content: space-between">
        <MudText Typo="Typo.body1" Align="Align.Center" Style="padding-top: 10px; padding-left: 10px;">Select source</MudText>
        <MudIconButton Icon="@Icons.Filled.Close" OnClick="Close"></MudIconButton>
    </div>
    <div style="max-height: 50vh; overflow-y: scroll">
        @if (Addons is not null)
        {
            foreach (var addon in Addons)
            {
                <StreamSourceItem Addon="@addon" Id="@Id" OnItemSelected="PlayContent"></StreamSourceItem>
            }
        }
    </div>
</div>
