@page "/watch/{encodedurl}"
@layout EmptyLayout
@inject IJSRuntime JsRuntime

@if (!string.IsNullOrWhiteSpace(Url))
{
    <div class="absolute left-0 right-0">
        <Video 
            Source="@(Url)" 
            AutoPlay="true"
            Controls="true"
            ControlsList="new []{ VideoControlsType.Play, VideoControlsType.Progress, VideoControlsType.Captions, VideoControlsType.Fullscreen, VideoControlsType.Mute, VideoControlsType.Volume, VideoControlsType.CurrentTime }"
            DisableContextMenu="true"
            SeekTime="10"
            StreamingLibrary="StreamingLibrary.Dash"
            AutomaticallyHideControls="true"
        ></Video>
    </div>
}

@code {
    [Parameter]
    public string? EncodedUrl { get; set; }

    public string? Url { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrWhiteSpace(EncodedUrl))
        {
            Url = EncodedUrl.DecodeBase64();

            await JsRuntime.InvokeVoidAsync("setFullHeightPlayer");
        }
    }

}
