@page "/"
@using Nonton.Features.Catalogs.Components

<PageTitle>Home</PageTitle>

<div class="mx-4">
    @if (Catalogs is not null && Catalogs.Any())
    {
        foreach (var catalog in Catalogs)
        {
            <div class="my-4">
                <ContentItem Catalog="catalog"></ContentItem>
            </div>
        }
    }
</div>