@page "/"
@using Nonton.Features.Catalogs.Components

<PageTitle>Home</PageTitle>

<div class="mx-4">
    <span class="text-2xl">Nonton</span>
    @if (Catalogs is not null && Catalogs.Any())
    {
        @*foreach (var catalog in Catalogs)
        {
            <div class="my-4">
                <ContentItem Catalog="catalog"></ContentItem>
            </div>
        }*@

        <div class="my-4">
            <CarouselItem Catalog="Catalogs.FirstOrDefault()"></CarouselItem>
        </div>
    }
</div>