@page "/"

<PageTitle>Home</PageTitle>

@if (Catalogs is not null && Catalogs.Any())
{
    foreach (var catalog in Catalogs)
    {
        <div class="my-4">
            <ContentItem Catalog="catalog"></ContentItem>
        </div>
    }
}